<footer class="footer">
  <a class="footer-link" href="/plan">Plan du site</a>
  <a class="footer-link" href="/mentions-legales">Mentions légales</a>
  <a class="footer-link" href="/contact">Contact</a>
  <button class="footer-totop" title="Retour en haut de page"><i data-feather="arrow-up-circle"></i></button>
</footer>
</body>
</html>