<%- include('partials/header') %>
<main class="content">
  <h1 class="content-title">Mon compte</h1>
  <section class="segment">
    <h2 class="segment-title">
      <%= user.email %>
    </h2>
  </section>
</main>
<%- include('partials/footer') %>